<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>day-17coco.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>221AAC471BE317E900865E29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>221AAC601BE317E900865E29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>221AAC6B1BE317E900865E29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
